doctype html
html(lang='en')
  head
    title Articles

  body
    lyze
      input#url(placeholder='url')
      a#add-btn(href='#') Add

  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script.

    $('#add-btn').on('click', function() {
      $.post('/page', {
        url: $('#url').val()
      }, onResult);
      return false;
    });

    function onResult(data) {
      console.log('result:', data);
    }
