doctype html
html(lang='en')
  head
    title Heroku Articles
    link(rel='stylesheet' type='text/css' href='/pages.css')

  body.Global
    .L-wrap.L-hidden(data-bind='css: { "L-hidden": false }')

      header.TopHeader Heroku Articles

      form.PageForm.L-push(data-bind='submit: addPage')
        input(placeholder='www.url.com' data-bind='textInput: url')
        a(data-bind='click: addPage') Add
        p.PageForm-error(data-bind='visible: error') Sorry, we were unable to parse that article.

      .PagePending.L-push(data-bind='visible: isPending')

      .PageList(data-bind='foreach: pages')
        a.PageList-page(data-bind='attr: { href: url }' target='_blank')
          header.PageList-title(data-bind='text: title')
          img.PageList-thumb(data-bind='attr: { src: image }')
          p.PageList-topics(data-bind='text: topicList')
          p.PageList-prediction
            span(data-bind='text: minutes + "-minute read"')
            span(data-bind='text: style')
            span(data-bind='text: "generally " + sentiment')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(src='/pages.js')
