extends layout

block content
  h1 Production App

  h2 New account
  form(action='/signup' method='post')
    input(name='username')
    input(name='password')
    button(type='submit') Sign up
  p Already have an account?&nbsp;
    a(href='/signin') Sign in!
