doctype html
html(lang='en')
  head
    title Twitter Comparison

  body
    form
      input(placeholder='First Twitter username')
      input(placeholder='Second Twitter username')
      a#compare-btn Compare

  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script

    $('#compare-btn').on('click', function() {

    });
