doctype html
html(lang='en')
  head
    title Twitter Comparison

  body
    form
      input#compare-user1(placeholder='First Twitter username')
      input#compare-user2(placeholder='Second Twitter username')
      a#compare-btn(href='#') Compare

  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script.

    $('#compare-btn').on('click', function() {
      $.post('/compare', {
        user1: $('#compare-user2').val(),
        user2: $('#compare-user2').val()
      }, onResult);
      return false;
    });

    function onResult(data) {
      console.log('result:', data);
    }
